<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Cthulhu Clicker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <section id="newGame">
    <form id="newGameForm" name="newGameForm" action="/game" method="POST" class="newGameForm">
      <label for="name">Elder God Name: </label>
      <input id="godName" type="text" name="name" placeholder="Name your Deity"/>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="newGameSubmit" type="submit" value="New Game" />
    </form>
  </section>
  <section id="gameContent">
    <div class="gameContent">
      {{#if gods}}
        {{#each gods}}
          <div class="god">
            <h3 class="godName">Name: {{this.name}}</h3>
          </div>
        {{/each}}
      {{else}}
        <h3 class="emptyGods">No Gods Yet</h3>
      {{/if}}
    </div>
  </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>